@use '../_abstract/' as *;

body{
    background-color: $light;
    display: flex;
    justify-content: center;
    font-family: $montserrat;
}
.base{
    align-items: center;
    background-color: $medium-dark;
    border-radius: 15px;
    box-shadow: 3px 7px rgba($color: #000000, $alpha: 0.8);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    grid-row: 1fr auto;
    height: 550px;
    margin: 5rem;
    padding: 3rem;
    width: 400px;
    .visor{
        align-items: flex-end;
        background-color: $darker-dark;
        color: $light;
        display: flex;
        font-size: 40px;
        height: 75px;
        justify-content: right;
        margin-bottom: 2rem;
        padding: 0.75rem;
        position: relative;
        width: 300px;
        .visor__secundario{
            font-size: 20px;
            height: 40px;
            left: 10px;
            min-width: 90px;
            padding: 15px 0 0 5px;
            position: absolute;
            top: 10px;
        }
        .visor__small{
            font-size: 16px;
        }
    }
    
    .teclas{
        color: $darker-dark;
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-size: 20px;
        .tecla{
            align-items: center;
            border-style: none;
            background-color: $medium-light;
            border-radius: 6px;
            box-shadow: 2px 2px rgba($color: $darker-med, $alpha: 0.8);
            cursor: pointer;
            display: flex;
            height: 55px;
            justify-content: center;
            outline-style: none;
            width: 60px;
        }
        .tecla:hover{
            background-color: $medium-dark;
        }
        .tecla:active{
            background-color: $darker-dark;
        }
    }
}